.App {
    text-align: center;
}

.login-header {
    background-image: url(./login_background.png);
    background-size: cover;
    position: fixed;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
    background-Size: cover;
    background-Repeat: 'no-repeat';
    background-Position: center;
    margin-Top: -8px;
    margin-Left: -16px;
}

.login-header>h1 {
    color: black;
    background-color: #1DB954;
    text-align: left;
    margin-top: 0px;
    padding: 8px 55px;
    font-family: sans-serif
}

.login-header>h2{
    color: black;
    text-align: center;
    margin-top: 45px;
    font-size: xxx-large;
    font-family: sans-serif;
}

.login-header>h3{
    color: black;
    text-align: center;
    margin-top: -35px;
    font-size: xxx-large;
    font-family: sans-serif;
}

.login-header>h4{
    color: black;
    text-align: center;
    margin-top: -15px;
    font-size: large;
    font-weight: lighter;
    font-family: sans-serif;
}

.login-button {
    background-color: #1DB954;
    font-size: 24px;
    padding: 10px 30px;
    position: fixed;
    color: white;
    padding: 20px 45px;
    border-radius: 32px;
    outline: 0;
    text-align: center;
    text-transform: uppercase;
    margin: 310px -163px;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    transition: ease background-color 250ms;
}

